@media print {
  @page {
    margin: 12.7mm;
  }

  body {
    -webkit-print-color-adjust: exact;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }
}
